<div class="container" style="background-color: black;width: 100%;padding: 0 0 100px 100px;">
	<%= render 'users/users/header' %>
	<p>マイリスト</p>
	<div class="row">
		<% @movie_mylist.each do |my_list| %>
			<%= link_to users_movie_path(my_list.movie) do %>
				<div style="width: 200px;height: 120px;border: 1px solid;float: left;margin-right: 3px;border-radius: 5px;">
					<%= my_list.movie.title %>
				</div>
			<% end %>
		<% end %>
	</div>
	<p>全部</p>
	<div class="row">
		<% @movies.each do |movie| %>
			<%= link_to users_movie_path(movie) do %>
				<div style="width: 200px;height: 120px;border: 1px solid;float: left;margin-right: 3px;border-radius: 5px;">
					<%= movie.title %>
				</div>
			<% end %>
		<% end %>
	</div>
	<p>邦画</p>
	<div class="row">
		<% @movie_houga.each do |movie| %>
			<% if movie.image_id? %>
				<%= link_to users_movie_path(movie) do %>
					<div class="movie-trigger" style="width: 200px;height: 120px;border: 1px solid;float: left;margin-right: 3px;border-radius: 5px;">
						<%= image_tag movie.image_id.thumb.url %>
					</div>
				<% end %>
			<% else %>
				<%= link_to users_movie_path(movie) do %>
					<div style="width: 200px;height: 120px;border: 1px solid;float: left;margin-right: 3px;border-radius: 5px;">
						<%= movie.title %>
					</div>
				<% end %>
			<% end %>
			<div class="movie-show">
				<div class="box">
					<div><%= movie.title %></div>
				</div>
			</div>
		<% end %>
	</div>
	<p>洋画</p>
	<div class="row">
		<% @movie_youga.each do |movie| %>
			<%= link_to users_movie_path(movie) do %>
				<div style="width: 200px;height: 120px;border: 1px solid;float: left;margin-right: 3px;border-radius: 5px;">
					<%= movie.title %>
				</div>
			<% end %>
		<% end %>
	</div>
	<p>アニメ</p>
	<div class="row">
		<% @movie_anime.each do |movie| %>
			<%= link_to users_movie_path(movie) do %>
				<div style="width: 200px;height: 120px;border: 1px solid;float: left;margin-right: 3px;border-radius: 5px;">
					<%= movie.title %>
				</div>
			<% end %>
		<% end %>
	</div>
	<p>ドラマ</p>
	<div class="row">
		<% @movie_dorama.each do |movie| %>
			<%= link_to users_movie_path(movie) do %>
				<div style="width: 200px;height: 120px;border: 1px solid;float: left;margin-right: 3px;border-radius: 5px;">
					<%= movie.title %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>