<!DOCTYPE html>
<html>
  <head>
    <title>NCopy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header" id="header">
      <nav class="navbar navbar-main navbar-default">
        <div class="container relative">
          <div class="navbar-header">
             <h1 class="head-title">Netflix</h1>
          </div>
          <div id="slidemenu">
            <div class="row list">
              <ul class="nav navbar-nav navbar-right" data-hover="color" data-animations="zoomIn fadeIn fadeInUp fadeIn" style="margin-top: 25px;">
                <!-- users -->
                <% if user_signed_in? %>
                  <li class="" style="border: 1px;">
                    <%= link_to users_users_path(@user) do %>
                     <i class="glyphicon glyphicon-home" aria-hidden="true"></i> マイページ
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> logout
                    <% end %>
                  </li>
                  <!-- ------ -->
                  <!-- adminz -->
                <% elsif admin_signed_in? %>
                  <li class="" style="border: 1px;">
                  <%= link_to admins_movies_path do %>
                   <i class="glyphicon glyphicon-leaf" aria-hidden="true"></i> ムービー一覧
                  <% end %>
                  <%= link_to admins_users_path do %>
                    ユーザー一覧
                  <% end %>
                  <%= link_to destroy_admin_session_path,method: :delete do %>
                    ログアウト
                  <% end %>
                  <!-- ------ -->
                  <!-- guest -->
                <% else %>
                  <li style="">
                    <%= link_to "ログイン", new_user_session_path,method: :get %>
                  </li>
                <% end %>
                <!-- --------- -->
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
