<div class="background">
  <div style="font-size: 40px;color: red;margin: 10px 0 0 80px;float: left;">Netflix</div>
  <%= link_to new_user_session_path do %>
    <div style="float: right;width:100px;font-size: 20px;color:white;background-color:red;height:40px;border:0;border-radius:3px;line-height: 40px;text-align: center;margin: 20px 50px 0 0;">ログイン</div>
  <% end %>
  <div class="text-center" style="overflow:hidden;color: white;padding-top: 200px;">
    <h1 style="font-size: 50px;font-weight: bold;">映画やTV番組、<br>アニメが見放題</h1>
    <p style="font-size: 25px;">映画やドラマをもっと自由に。<br>いつでもキャンセルOK。</p>
    <p style="font-size: 20px;padding-top: 20px;">まもなくご視聴いただけます！メールアドレスを入力してメンバーシップを開始、または再開して<br>ください。</p>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="text-center">
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス",style: "background-color:white;width: 400px;height:30px;margin: 20px 0;border:0;border-radius:3px;" %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: "パスワード",style: "background-color:white;width: 400px;height:30px;margin: 20px 0;border:0;border-radius:3px;" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "パスワード再入力",style: "background-color:white;width: 400px;height:30px;margin: 20px 0;border:0;border-radius:3px;" %>
        <%= f.submit "登録 >",style: "color:white; background-color:red;width: 100px;height:30px;border: 0;" %>
      </div>
    </div>
  <% end %>
  <div style="background-color: black;border-top: 8px solid gray;border-bottom: 8px solid gray;color: white;overflow:hidden;">
    <div style="padding-left: 200px;float: left;">
      <h3 style="font-size: 50px;font-weight: bold;padding-top: 60px;">大画面で楽しめる</h3>
      <p style="font-size: 25px;padding: 20px 0 70px 0;">スマートテレビやApple TVはもちろん、<br>PlayStationやXboxなどのゲーム機、<br>Chromecastなどのストリーミングデバイス、<br>ブルーレイプレイヤーを使えば、お持ちの<br>テレビで簡単に見られます。</p>
    </div>
    <div style="float: left;width: 500px;height: 400px;padding-left: 100px;">
      <div class="tv"></div>
    </div>
  </div>
</div>
